In [8]:
from numpy.random import randn as rn
import numpy as np
import pandas as pd
np.random.seed(101)

matrix_data = rn(5,4)
matrix_data

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [9]:
pd.DataFrame(matrix_data)

          0         1         2         3
0  2.706850  0.628133  0.907969  0.503826
1  0.651118 -0.319318 -0.848077  0.605965
2 -2.018168  0.740122  0.528813 -0.589001
3  0.188695 -0.758872 -0.933237  0.955057
4  0.190794  1.978757  2.605967  0.683509

In [12]:
row_labels = ['A',"B","C","D","E"]
column_labels = ["W","X","Y","Z"]
df = pd.DataFrame(matrix_data,row_labels,column_labels)

In [13]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
df.loc["E"] # date by given index

W    0.190794
X    1.978757
Y    2.605967
Z    0.683509
Name: E, dtype: float64

In [15]:
type(df.loc["E"])

pandas.core.series.Series

In [16]:
df.iloc[4]  # by default numeric index

W    0.190794
X    1.978757
Y    2.605967
Z    0.683509
Name: E, dtype: float64